extends ../templates/container.pug
block content
  main.d-flex.flex-column.align-items-center.flex-grow-1
    if(errorMessage.length > 0)
      div.alert.alert-danger #{errorMessage}
    form.auth__form(action="/auth/signup" method="POST").w-xs-90-md-25.d-flex.flex-column.justify-content-center.flex-grow-1
      input(type="hidden" name="_csrf" value=csrfToken)
      div.form-group
        label(for="email") E-Mail
        input.form-control(class=validationErrors.find(e=>e.param==='email') ? 'invalid':'' type="text" name="email" id="email" value= oldInput.email)

      div.form-group
        label(for="password") Password
        input.form-control(class= (validationErrors.find(e=>e.param==='password') ? 'invalid':'') type="password" name="password" value=oldInput.password)

      div.form-group
        label(for="password") Confirm Password
        input.form-control(class= (validationErrors.find(e=>e.param==='password') ? 'invalid':'') type="password" name="confirmPassword" value=oldInput.password)

      button.btn.btn-primary(type="submit") Signup
