.card
  picture
    img.card__img(src= imgUrl)
  div.card__content
    h2= title
    p.js-content__description= description
    a.btn.js-modal-open learn more &nearr;
  .card__modal.card__modal--close
    .modal__content
      picture.modal__img
        img(src= imgUrl)
      .modal__info
        p.modal__close.js-modal-close X
        h2.modal__title= title
        p.modal__description= description
        p.modal__repo Repo: 
          a(href= repo target="_blank") #{repo}
        p.modal__website Website:
          a(href= website target="_blank")  #{website}
